<% if user_signed_in? %>
  <% if current_user.voted_up_on? question%>
    <%= link_to unvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-up active", remote: true do%>  
    <%end%> 
    <span class= <%= "negative" if question.cached_votes_up-question.cached_votes_down < 0%>>
      <%=question.cached_votes_up - question.cached_votes_down%>
    </span>
    <%= link_to downvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
    <%end%>
  <% elsif current_user.voted_down_on? question%>
    <%= link_to upvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
    <%end%> 
    <span class= <%= "negative" if question.cached_votes_up-question.cached_votes_down < 0%>>
      <%=question.cached_votes_up - question.cached_votes_down%>
    </span>
    <%= link_to unvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-down active", remote: true do%> 
    <%end%>     
  <%else%>
    <%= link_to upvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
    <%end%> 
    <span class= <%= "negative" if question.cached_votes_up-question.cached_votes_down < 0%>>
      <%=question.cached_votes_up - question.cached_votes_down%>
    </span>
    <%= link_to downvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
    <%end%>    
  <%end%> 
<%else%>
  <%= link_to upvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
  <%end%> 
  <span class= <%= "negative" if question.cached_votes_up-question.cached_votes_down < 0%>>
    <%=question.cached_votes_up - question.cached_votes_down%>
  </span>
  <%= link_to downvote_question_path(question), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
  <%end%>    
<%end%> 

