<% provide(:title, "History | " +@question.question) %>

<div class ='question-wrapper'> 
  <h1><%= @question.question %></h1>
  <%if @question.question_type == "Multiple Answers"%>
    <p>Potential answers:<%= @question.answers%></p>
  <%end%>  
  <p><%= @question.description %></p>
  <div class='pix12'>
    Asked by: <%= @question.user.username %>
  </div>   
  <div class="pix14"><%= link_to "Edit question", edit_question_path %> | 
  <%= link_to "Back to question", @question %></div>
</div>
<div class ='question-history'>
  <h2>Edit history</h2>
  <ul>
    <% @versions.each do |v| %>
      <li>
        <b>
          <%=User.find(v.whodunnit).username%> at 
          <%=l(v.created_at, format: "%-d.%m.%Y %H:%M:%S %Z")%>: 
        </b>  
        <%= v.event.titleize%> 
        <%if v.event == "destroy" && v.item_type == "Verdict"%>
          <b>short</b> "<%=v.reify.short%>""
          <b>verdict</b>"<%=v.reify.verdict%>"
        <%end%>
 
        <%if v.item_type == "Point" && v.next != nil%>
          "<%=v.next.reify.point%>"
        <%elsif v.item_type == "Point"%>
          "<%=v.reify.point%>"  
        <%end%>          
        
        <%v.changeset.each_with_index do |(key,value),index|%>             
            <%if v.event == "create" && v.item_type == "Association"%>
              <%if index == 0%> 
              association between <b>research</b> "<%=Finding.find(value.last).research.title if key == "finding_id"%>"
              <%elsif index == 1%>
              and <b>argument</b>"<%=Point.find(value.last).point if key == "point_id"%>"
              <%end%>
            <%elsif v.event == "create"%>
              <%=if index != 0 then "; " end%>  
              <b><%=key%></b> "<%=value.last%>"    
            <%else%>
              <%=if index != 0 then "; " end%>
              <b><%=key%></b> from "<%=value.first%>" to "<%=value.last%>"
            <%end%>  
        <%end%>

      </li>
    <%end%>

  </ul> 
</div>  