<% provide(:title, 'Questions') %>
<div class= 'questions'>
  <h2>Questions</h2> 
  <div class="center"><%= link_to "Add a question", new_question_path %></div>
  <div class="search center" style="margin: auto;">
    <%= search_form_for @query, url: search_questions_path,
                html: { method: :post} do |f| %>
      <%= f.text_field :question_cont, placeholder: "Search for a question" %>          
      <%= f.submit "Search"%>  
    <%end%>
  </div> 

  <%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
      <%= render @questions %>
  <%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
</div>

