<% provide(:title, @question.question) %>
  
<div class ='question-wrapper'> 
  <%if @evidence.first.nil?%>
    <h1><%= @question.question %></h1>
    <%if @question.question_type == "Multiple Answers"%>
      <p>Potential answers:<%= @question.answers%></p>
    <%end%>  
    <p><%= @question.description %></p>
    <div class='pix12'>
      Asked by: <%= @question.user.username %>
    </div>   
    <div class="pix14">
      <%= link_to "Edit question", edit_question_path %> | 
      <%= link_to "See edit history", edit_history_question_path %>
    </div>

  <%else%>
    <div class='row'>
      <div class= 'col-lg-4 col-md-6 col-sm-6 donut'>
        <%=high_chart("donut", @donut)%>
      </div> 
      <div class='col-lg-8 col-md-6 col-sm-6'>    
        <h1><%= @question.question %></h1>
        <%if @question.question_type == "Multiple Answers"%>
          <p>Potential answers:<%= @question.answers%></p>
        <%end%>  
        <p><%= @question.description %></p>
        <div class='pix12'>
          Asked by: <%= @question.user.username %>
        </div>   
        <div class="pix14"><%= link_to "Edit question", edit_question_path %> | 
        <%= link_to "See edit history", edit_history_question_path %></div>
      </div>
    </div>
  <%end%>    
</div>

 <%= render 'questions/verdicts/verdicts' %>

 

 
