<div class='home-wrapper'>	
	<div class="center hero-unit">
	  <h1>Welcome to Project Credo</h1>
	  <%= link_to "Sign up now!", new_user_registration_path,
	                              class: "btn btn-large btn-primary" %>
	</div>

	<script>
	  $(document).ready(function(){
	     $('#home-carousel').carousel({interval: 8000});
	  });
	</script>  

	<!--  Carousel - consult the Twitter Bootstrap docs at
	      http://twitter.github.com/bootstrap/javascript.html#carousel -->
	<div class="c-wrapper">
		<div id="home-carousel" class="carousel slide"><!-- class of slide for animation -->
			<ol class="carousel-indicators">
				<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#home-carousel" data-slide-to="1"></li>
				<li data-target="#home-carousel" data-slide-to="2"></li>
				<li data-target="#home-carousel" data-slide-to="3"></li>				
			</ol>	  
		  <div class="carousel-inner">
		    <div class="item active"><!-- class of active since it's the first item -->
  				<%= link_to image_tag("icedwatercrop.jpg", alt: "", size: "1200x480"), debate_path(1)  %>
		      <div class="carousel-caption">
		        <p>Drinking cold beverages during meals negatively affects digestion</p>
		      </div>
		    </div>
		    <div class="item">
		  		<%= link_to image_tag("microbeads.jpg", alt: "", size: "1200x480"), debate_path(2) %>
		      <div class="carousel-caption">
		        <p>Microbead products are bad for the environment</p>
		      </div>
		    </div>
		    <div class="item">
		      <%= link_to image_tag("running.jpg", alt: "", size: "1200x480"), debate_path(3) %>
		      <div class="carousel-caption">
		        <p>Running long distances on a consistent basis significantly reduces the amount of cartilage in the knees</p>
		      </div>
		    </div>
		    <div class="item">
		      <%= link_to image_tag("protein-powder.jpg", alt: "", size: "1200x480"), debate_path(6) %>
		      <div class="carousel-caption">
		        <p>A person who exercises on a regular basis should consume around 0.77 grams of protein per lean pound of weight</p>
		      </div>
		    </div>		    
		  </div><!-- /.carousel-inner -->
		  <!--  Next and Previous controls below
		        href values must reference the id for this carousel -->
		    <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->
	</div><!-- /.c-wrapper -->

	<h2 id= 'contact'> Contact </h2>	

	<br>For questions, comments, or ways to help and collaborate, contact Project Credo at proj.credo@gmail.com.  Or to find Project Credo's code, visit our github at <%= link_to "github.com/wsf246/project_credo", "http://github.com/wsf246/project_credo"%></br>
</div>

