<div class='home-wrapper'>	

  <div class="jumbotron"> 	
   
	  <div class= "homepage-logo">Project <strong>Credo</strong></div>

	  <div class= "homepage-text">The source for all your questions</div>

	  <%if not user_signed_in?%>	 	
		  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-default btn-form" %>
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-default btn-form" %> 		  
		<%else%>
			<%= link_to "How to Credo!", howto_path, class: "btn btn-lg btn-default btn-form" %>			  
		<%end%>  		  
	</div>  

	<div class="headers">
		<h2>Research shouldn't be hard to understand</h2>
	  	<p class = 'community'>
	  		Credo is a community based approach to connecting people's questions to the research they need to answer it.  Help out in little or big ways.  Most importantly, learn about things you care about!
	  	</p>
		<div class = "row">
			<div class = "col-md-4">
				<%= image_tag("determined-questioning-pondering.png", height: "100px") %>
				<h2><%= link_to "Ask", new_question_path%></h2>
				<p>
					Ask questions that you want to know the research behind.  Credo serves the public by helping them answer questions they care about.
				</p>
			</div>
			<div class = "col-md-4">
				<%= image_tag("misc-all-the-things.png", height: "100px") %>
				<h2><%= link_to "Research", questions_path%></h2>
				<p>
					Be part of the community and identify research for people's questions.  Credo makes it easy to contribute and frame research to be understood.
				</p>				
			</div>
			<div class = "col-md-4">
				<%= image_tag("happy-thumbs-up.png", height: "100px") %>
				<h2><%= link_to "Vote", questions_path%></h2>
				<p>
					Help the most important questions, best arguments, and best explanations rise to the top.  Whatever helped you understand will certainly help someone else as well!
				</p>				
			</div>						
		</div>
	</div>

	

</div>

