<%= render 'shared/error_messages', object: f.object %>

<%if @question.question_type == "Yes/No" %>
  <%= f.input :point_type, label: "Yes or No?",collection: ['Yes','No', 'Unknown'], selected: @point_type  %>
<%elsif @question.question_type == "Multiple Answers"%>
  <%= f.input :point_type, label: "Answer", collection: @answers, selected: @point_type, include_blank: false%>
<%end%>

<%= f.input :point, label: "Argument", placeholder: "How does this research relate to the question..." %>

<%= f.hidden_field :user_create_id, value: current_user.id %> 

<%= f.button :submit, "Submit", class: "btn btn-md btn-primary btn-form" %>
<%=link_to "Cancel", question_path(@question)%>
</div>  

      