<div class="col-md-6 col-md-offset-3">
<%= render 'shared/error_messages', object: f.object %>

<%if @question.question_type = "Yes/No" %>
  <%= f.input :point_type, label: "Yes or No?",collection: ['Yes','No', 'Unknown'], selected: @point_type  %>
<%end%>

<%= f.input :point, label: "Argument", placeholder: "How does this research relate to the question..." %>

<%= f.hidden_field :user_create_id, value: current_user.id %> 

<%= f.button :submit, "Submit", class: "btn btn-lg btn-primary" %>
</div>  

      