<p class = "nested_fields">
  <%= f.link_to_remove "Remove finding"%>  
  <%= f.hidden_field :research_id, value: research_id %>  
  <%= f.text_area :finding, placeholder: "Add finding" %>
  <%= f.text_area :sample_def, placeholder: "Add sample definition" %>
  <%= f.text_area :quote, placeholder: "Add relevant quote" %>  
</p>