<div class = "research_form_wrapper">
<%= simple_form_for(@research, html: {class: "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <legend>Basic Information</legend>
  <%= f.hidden_field :user_create_id, value: current_user.id %> 
  <%= f.input :title  %>
  <%= f.input :link %>
  <%= f.input :authors%>
  <%= f.input :date_of_publication, label: "Date of Publication" %>
  <%= f.input :journal%>
  <%= f.input :funding, label: "Funding" %>
  
  <legend>Findings</legend>
  <%= f.simple_fields_for :findings do |builder| %>
    <%= render 'finding_fields', f: builder, research_id: @research.id %>
  <%end%>     

  <legend>Methodologies</legend>

  <%= f.input :study_type, collection: ['Unknown','Cross-sectional','Case-control','Cohort Study', 'Randomized Control Trial', 'Case Study'], selected: @study_type %>
  <%= f.input :single_blinded, label: "Single Blinded?" %> 
  <%= f.input :double_blinded, label: "Double_blinded?" %> 
  <%= f.input :randomized, label: "Randomized?" %> 
  <%= f.input :controlled_against_placebo, label: "Controlled against placebo?" %>
  <%= f.input :controlled_against_best_alt, label: "Controlled against best alternative?" %>                    
 
  <legend>Verification</legend>

  <%= f.input :retracted, label: "Retracted?" %>
  <%= f.input :peer_reviewed, label: "Peer Reviewed?" %> 
  <%= f.input :replicated, label: "Replicated?" %>  
  <%= hidden_field_tag 'finding_id', @finding_id %> 
  <%= hidden_field_tag 'point_id', @point_id %> 
  <%= f.button :submit, "Log info", class: "btn btn-large btn-primary" %>
<% end %> 
</div> 


