<div class='row-fluid'>
<div class='pubmed-search'>
  <b>Search terms:</b>
  <%=params[:search_terms]%>

  <%= form_tag("/researches/pubmed_search", remote: true) do%>
    <%= hidden_field_tag 'search_terms', params[:search_terms] %> 
     
    <%= submit_tag "Back" %>
  <%end%> 
  <h1><%= @article["title"] %></h1>
  <br><%="Authors: "+@article["authors"] %></br> 
  <br><%= "Journal: "+@article["journal"]+", Published on:"%> <%= @article["pubdate"]%> </br>
  <br><b>Abstract:</b></br>
  <br><%=@article["abstract"]%></br>
</div>
</div>