<div class ='research-wrapper'> 
  <% provide(:title, @research.title) %>

  <div class='pix12'>Logged by: <%=@research.user.username%></div>   
  <h2><%=link_to @research.title, @research.link , target: "_blank"%></h2>
  <p><%= @research.authors %></p>  
  <div class ="pix14">
    <%= link_to " Edit", edit_research_path %> | 
    <%= link_to "Back to research", @research%>
  </div>
</div> 
<div class ='question-history'>
  <h2>Edit history</h2>
  <ul>
    <% @versions.each do |v| %>
      <li>
        <b>
          <%=User.find(v.whodunnit).username%> at 
          <%=l(v.created_at, format: "%-d.%m.%Y %H:%M:%S %Z")%>: 
        </b>  
        <%= v.event.titleize%>
        <%v.changeset.each_with_index do |(key,value),index|%>
          <%if v.event == "create"%>
            <%=if index != 0 then "; " end%>  
            <b><%=key%></b> "<%=value.last%>"    
          <%else%>
            <%=if index != 0 then "; " end%>
            <b><%=key%></b> from "<%=value.first%>" to "<%=value.last%>"
          <%end%>  
        <%end%>
      </li>
    <%end%>  
  </ul>          
</div>  