<div class = "research-wrapper">
  <% provide(:title, 'All research') %>
  <h2>Documented Research</h2>
  <h2><%= link_to "Document a new piece of research", new_research_path %></h2>

  <div class="row-fluid">
    <div class="span4">
    	<div class="search">
    		<%= search_form_for @query, url: search_researches_path,
    								html: { method: :post} do |f| %>
    		  <%= f.label :title_or_findings_finding_or_findings_quote_cont, "Research title or findings contains" %>
    		  <%= f.text_field :title_or_findings_finding_or_findings_quote_cont %>
     		  
      		<%= f.submit "Search" %>  
    		<%end%>
    	</div>
    </div>
  </div>  


  <%= will_paginate %>
  <div class ='researches'>
    <%= render @researches %>
  </div>  
  <%= will_paginate %>
</div>