<div class="researches">
  <% provide(:title, 'All research') %>
  <h2>Documented Research</h2>

  <div class="row-fluid">
    <div class="center">
    	<div class="search">
    		<%= search_form_for @query, url: search_researches_path,
    								html: { method: :post} do |f| %>
    		  <%= f.label :title_or_findings_finding_or_findings_quote_cont, "Search by research title or findings" %>
    		  <%= f.text_field :title_or_findings_finding_or_findings_quote_cont %>
     		  
      		<%= f.submit "Search" %>  
    		<%end%>
    	</div>
    </div>
  </div>
<%= will_paginate @researches, renderer: BootstrapPagination::Rails %>
  <div class="row-fluid">
      
      <%= render @researches %>
      
  </div>  
  <%= will_paginate @researches, renderer: BootstrapPagination::Rails %>
</div>