<div class ='research-wrapper'>	
	<% provide(:title, @research.title) %>

	<p><div class ="pix12">
		<%= link_to "Edit", edit_research_path %>
	</div></p> 
	<div class='pix12'>Logged by: <%=@research.user.username%></div>   
  <h2><%=link_to @research.title, @research.link , target: "_blank"%></h2>
  <p><%= @research.authors %></p>  

	<section>	 
		<p>
	  	<% if @research.journal.present? %>
	  		<b>Journal:</b> <%= @research.journal %>
	  	<%else%>
	  		<b>Journal:</b> Unknown
	  	<%end%>
	  					  			
	  	<% if @research.date_of_publication.present? %>	
	  		<b>Published on: </b><%= @research.date_of_publication.to_formatted_s(:long)%>	
	  	<%else%>
	  		<b>Date of Publication: </b>Unknown 	
	  	<%end%>
		</p>

		<p><b>Study Type: </b><%= @research.study_type %></p>

		<p><b>Bias Controls: </b><%=@bias_controls%></p>
		<p><b>Verification: </b>
			<%= is_it? @research.peer_reviewed %> Peer Reviewed,  
			<%= is_it? @research.replicated %> Replicated, 
			<%= is_it? @research.retracted %> Retracted 
		</p>		 
  	<p><b>Funding: </b> 	  	 	
  	  <% if @research.funding.present? %>
	  	  <p><%= @research.funding %></p> 
	  	<%else%> 
	  	  Unknown
  	  <% end %>
  	</p>
	</section>	

	<section>  
	  <p><b>Findings (studies can have multiple findings)</b></p>
    <ol>
        <% if @research.findings.first.present? %>		
	      <%= render @findings %>
	    <%else%>
	      None
	    <%end%>
		</ol>    			  	
	</section>  	  						
</div>	