<div class ='research-wrapper'>	
	<% provide(:title, @research.title) %>

	<div class='pix12'>Logged by: <%=@research.user.username%></div>   
  <h2><%=link_to @research.title, @research.link , target: "_blank"%></h2>
  <p><%= @research.authors %></p>  
  <div class ="pix14">
		<%= link_to " Edit", edit_research_path %> | 
		<%= link_to "See edit history", edit_history_research_path %>
	</div>
	<section>	 
		<p>
	  	<% if @research.journal.present? %>
	  		<b>Journal:</b> <%= @research.journal %>
	  	<%else%>
	  		<b>Journal:</b> Unknown
	  	<%end%>
	  					  			
	  	<% if @research.date_of_publication.present? %>	
	  		<b>Published on: </b><%= @research.date_of_publication.to_formatted_s(:long)%>	
	  	<%else%>
	  		<b>Date of Publication: </b>Unknown 	
	  	<%end%>		
		</p>

		<p><b>Study Type <b class="blue"><%=if @study_type_score == 0 then  "(0 of 34)" else "(+"+@study_type_score.to_s+" of 34)" end%></b>: </b><%= @research.study_type %></p>

		<p><b>Bias Controls <b class="blue"><%=if @bias_controls_score == 0 then  "(0 of 5)" else "(+"+@bias_controls_score.to_s+" of 5)" end%></b>: </b><%=@bias_controls%></p>
		<p><b>Verification <b class="blue"><%=if @research.retracted then  "(Retracted!)" else "(+"+@verification_score.to_s+" of 20)" end%></b>: </b>
			<%= is_it? @research.peer_reviewed %> Peer Reviewed,  
			<%= is_it? @research.replicated %> Replicated, 
			<%= is_it? @research.retracted %> Retracted 
		</p>		 	  	 	
  	<% if @research.funding.present? %>
  		<p><b>Funding <b class="blue">(+2 of 2)</b>: </b>   
	  	  <p><%= @research.funding %></p>
	  	</p>  
	  <%else%>
	  	<p><b>Funding <b class="blue">(0 of 2)</b>: </b>  
	  	  Unknown
	  	</p>  
  	 <% end %>
  	<b>Cred Score: <b class= "blue"><%=@research.score%></b></b> 
	</section>	

	<section>  
	  <p><b>Findings (studies can have multiple findings)</b></p>
    <ol>
        <% if @research.findings.first.present? %>		
	      <%= render @findings %>
	    <%else%>
	      None
	    <%end%>
		</ol>    			  	
	</section>  	  						
</div>	