<% if user_signed_in? %>
  <% if current_user.voted_up_on? verdict%>
    <%= link_to unvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-up active", remote: true do%>  
    <%end%>
    <span class= <%= if verdict.cached_votes_up-verdict.cached_votes_down < 0 then "negative" else "positive" end%>>
      <%=verdict.cached_votes_up - verdict.cached_votes_down%>
    </span>
    <%= link_to downvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
    <%end%>
  <% elsif current_user.voted_down_on? verdict%>
    <%= link_to upvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
    <%end%> 
    <span class= <%= if verdict.cached_votes_up-verdict.cached_votes_down < 0 then "negative" else "positive" end%>>
      <%=verdict.cached_votes_up - verdict.cached_votes_down%>
    </span>
    <%= link_to unvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-down active", remote: true do%> 
    <%end%>     
  <%else%>
    <%= link_to upvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
    <%end%> 
    <span class= <%= if verdict.cached_votes_up-verdict.cached_votes_down < 0 then "negative" else "positive" end%>>
      <%=verdict.cached_votes_up - verdict.cached_votes_down%>
    </span>
    <%= link_to downvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
    <%end%>    
  <%end%> 
<%else%>
  <%= link_to upvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
  <%end%> 
  <span class= <%= if verdict.cached_votes_up-verdict.cached_votes_down < 0 then "negative" else "positive" end%>>
    <%=verdict.cached_votes_up - verdict.cached_votes_down%>
  </span>
  <%= link_to downvote_verdict_path(verdict), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
  <%end%>    
<%end%> 

