<div class ='verdict-wrapper'>
  <div class = "row">
    <div class = "col-md-5">
      <div id="error_explanation"></div>  
          <h1>Verdicts</h1>
      <div id="add_verdict">
        <% if @verdicts.present? %>
          <%= link_to("Add a verdict", add_verdict_questions_path(question: @question),remote: true) %>
        <%else%>  
          No verdicts, <%= link_to "why not add one?", add_verdict_questions_path(question: @question),remote: true %>
        <%end%>
      </div>

      <div class="panel-group" id="verdict-accordion">
        <% @verdicts.each_with_index do |verdict, i| %>
          <div class="row">
            <div class = "col-md-1"> 
              <%= render 'questions/verdicts/upvote_downvote_verdict', verdict: verdict%>
            </div>

            <div class = "col-md-11">
              <div id = "edit_verdict_<%=verdict.id%>">
                <div class="panel panel-default" style="margin: 0 0 20px 2%">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#verdict-accordion" href="#collapse_<%=i%>">
                        <%if i == 0%>
                          <div class = "gold">Top verdict</div>
                        <%end%>                          
                        <div class = "<%='top-verdict' if i==0%> verdict"><%= verdict.short %></div>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse_<%=i%>" class="panel-collapse collapse <%='in' if verdict.id == @active%>">
                    <div class="panel-body">
                      <%= verdict.verdict %>
                      <div class='pix12'>
                        Created by: <%=verdict.user.username%>
                      </div> 
                    
                      <div class='pix12'>
                        <%= link_to "Edit", edit_verdict_questions_path(question: @question, verdict: verdict, active: @active),remote: true %>
                      </div>  
                    </div>
                  </div> 
                </div>  
              </div>  <!--panel div --> 
            </div>
          </div>    
        <%end%>
      </div>
    </div> <!--"col-md-3 col-md-offset-1"-->

    <div class ="col-md-7">
      <%= render 'questions/evidence/verdict_evidence'%>
    </div>     
  </div> <!--row-fluid div --> 
</div> <!--verdict-wrapper div --> 