<div class ='researches'>
	<% @researches.each do |research| %>  
	  <ul>	
			<li>
				<div class='row-fluid'>

					<div class='col-md-1 center'>
						<div class='pix10'> Score	</div>
						<div class='score'>	(<%=research.score%>)</div>			
					</div>

					<div class='col-md-11'>
				  	<%= link_to research.title, research %>	
					  <ul class ='finding'>
					  	<b class ='finding'>Findings:</b>
					    <% research.findings.each do |finding| %>
						    <li class ='finding'>
					  	    <%if finding.quote.present? %>			       	  
							      <i> "<%= finding.quote %>" </i>    	
							      <br><%= finding.finding %></br>
							    <%else%>
							      <%= finding.finding %>   
							    <%end%>
									<%= render 'associations_form', finding: finding %>		    
						    </li>
						  <%end%>		      
					  </ul>
					</div>  
				</div>  
			</li>
	  </ul>	
	<%end%>
</div>


