<% provide(:title, 'All research') %>
<h2>Documented Research</h2>
<h3><%= link_to "Document a new piece of research", new_research_path %></h3>

<div class="row">
  <div class="span4 offset1">
	<div class="search">
		<%= search_form_for @q, url: search_researches_path,
								html: { method: :post} do |f| %>
		  <%= f.label :title_or_findings_finding_or_findings_quote_cont, "Research title or findings contains" %>
		  <%= f.text_field :title_or_findings_finding_or_findings_quote_cont %>
 		  
  		  <%= f.submit "Search" %>  
		<%end%>
	</div>
  </div>
</div>  				

<%= will_paginate %>

<ul class="debates">
  <%= render @findings %>
</ul>

<%= will_paginate %>