<%= f.label :Title %>
<%= f.text_field :title, placeholder: "Compose affirmative (ex: Cold water is bad for digestion)..." %>

<%= f.label :Description %> 
<%= f.text_area :description, placeholder: "Compose a description..." %>

<%= f.label :Notes %>
<%= f.text_area :notes, placeholder: "Additional notes (separate bullet points with '|')..." %>

<%= f.fields_for :verdicts do |builder| %>
    <%= render 'verdict_fields', f: builder, debate_id: @debate.id %>
<%end%>  

<p><%= f.link_to_add "Add a verdict", :verdicts %></p>    