<li class ='research'>
  <div class='row'>
    <div class='col-md-2 center'> 
      <div class='pix12'> Cred </div>
      <div class='pix12'> (<%=finding.research.score%>) </div>  
    </div>
    <div class='col-md-10'> 
      <%= link_to(research_path(finding.research_id)) do%>
        <%=finding.research.title %>
        <br />
        <div class ='pix12'> Authors: <%=finding.research.authors %> </div>
      <%end%>  
      <p class = 'finding'>
        <%= finding.quote %>
      </p>
    </div>
  </div>    
</li>
