<li class ='research'>
  <div class='row'>
    <div class='span1 center'> 
      <div class='pix15'>
        Cred
      </div>
      (<%=finding.research.score%>)  
    </div>
    <div class='span11'> 
      <%= link_to(research_path(finding.research_id)) do%>
        <%=finding.research.title %>
        <br />
        <div class ='pix15'> Authors: <%=finding.research.authors %> </div>
      <%end%>  
      <p class = 'finding'>
        <%= finding.finding %>
      </p>
    </div>
  </div>    
</li>