<li class= 'point'>
  <div class='row-fluid'>
    <div class='span2 center'>
      <div>
        <%= render 'debates/important_point', point: point%>
      </div>       
    </div>   
    <div class='span10'>  
      <b><%=point.point%></b>
      <div class = 'pix12'>
      Created by: <%=point.user.username%>
      </div> 
      <div id="debate_research_<%= point.id %>">         
        <%= render 'debates/top_3_findings', point: point %>
      </div>        
    </div>  
  </div>    
</li>   


