<p class = 'pix12'>
  <% if point.findings.count >3 %>
  	<%= link_to "View all research("+point.findings.count('research_id', distinct:true).to_s+")", all_research_debates_path(point: point), remote: true%> |
  <%else%>
  	Total research(<%=point.findings.count%>) | 
  <%end%> 
  <%= link_to "Edit", edit_point_path(point) %> |
  <%= render 'debates/modal_toggle', point: point %> 
</p>  
<ul class= 'research'>
	<% findings = point.findings.sort {|a,b| b.research.score <=> a.research.score}.first(3)%>
	<% findings.each do |finding| %>
		<%= render 'debates/findings', finding: finding %>
	<%end%> 
</ul>
<% if point.findings.count >3 %>
	<%= link_to "View all research("+point.findings.count('research_id', distinct:true).to_s+")", all_research_debates_path(point: point), remote: true%>
<%end%>		