<% provide(:title, @debate.title) %>
  <h1><%= @debate.title %></h1>
  <h2><%= link_to "Edit debate", edit_debate_path %></h2>
  <div class ='debate-wrapper'>	
	  <h1>Description:</h1>
		<p><%= @debate.description %></p>
	  <h1>Notes:</h1>
		  <ul>	
			  <% @debate.notes.split('|').each do |note| %>
				<li><%=note%></li>
			  <% end %>
		  </ul>	

	  <h1>Verdict:</h1>	
		<p><%= @debate.verdict %></p>
   </div>

   <div class="row">
		<div class="span7 offset1">
		  <h1>For:</h1>  
		  <%= link_to "Add a new point for", new_debate_point_path(@debate, :point_type => 'For') %>		  	
		    <ol>
		    	<% @for_points.each do |f| %>		    	
		    	  <li> <%=f.point%></li>
		    	  <%= link_to "Edit", edit_point_path(f) %> |
		    	  <%= link_to "Add findings", findings_path %>		    	  
		    	<%end%>
		    </ol>
		</div>

		<div class="span7 offset1">
		  <h1>Against:</h1> 
		  <%= link_to "Add a new point against", new_debate_point_path(@debate, :point_type => 'Against') %>		  
		    <ol> 	
		    	<% @against_points.each do |a| %>
		    	  <li> <%=a.point%></li>
		    	  <%= link_to "Edit", edit_point_path(a) %>|
		    	  <%= link_to "Add findings", findings_path %>
		    	<%end%>
		    </ol>	
		</div>
   </div>  	

	