<% provide(:title, @debate.title) %>
  
<div class ='debate-wrapper'> 
  <h1><%= @debate.title %></h1>
  <div class='pix12'>
    Created by: <%= @debate.user.username %>
  </div>   
  <h2><%= link_to "Edit debate", edit_debate_path %></h2>
  <h2>Description:</h2>
	<p><%= @debate.description %></p>
  <h2>Notes:</h2>

  <ul>	
	  <% @debate.notes.split('|').each do |note| %>
			<li><%=note%></li>
	  <% end %>
  </ul>	

  <h2>Verdict:</h2>	
  <% if @verdicts.present? %>
    <div id="add_verdict">
      <%= link_to "Add a verdict", add_verdict_debates_path(debate: @debate),remote: true %>
    </div>
    <p><%= render 'verdicts' %></p>
  <%else%>  
  No verdicts, <%=link_to "why not add one?", edit_debate_path %>
  <%end%>
</div>
<%= render 'trends'%>  
<%= render 'evidence'%>  
