<% provide(:title, @debate.title) %>
<div class ='debate-wrapper'> 
  <h1><%= @debate.title %></h1>
  <h2><%= link_to "Edit debate", edit_debate_path %></h2>
  <h2>Description:</h2>
	<p><%= @debate.description %></p>
  <h2>Notes:</h2>

  <ul>	
	  <% @debate.notes.split('|').each do |note| %>
			<li><%=note%></li>
	  <% end %>
  </ul>	

  <h2>Verdict:</h2>	
	<p><%= @debate.verdict %></p>
</div>

<div class ='point-wrapper'>	

  <div class="row-fluid">
		<div class="span6">
      <div class='row-fluid'>
        <div class="span10 offset2">
    		  <h1 class= 'green'>For</h1> 
    		  <div class='center'> 
    		  	<%= link_to "Add a new point for", new_debate_point_path(@debate, point_type: 'For') %>
    		  </div>
        </div>
      </div>   	  	
	    <ul class= 'point'>
	    	<% @for_points.each do |f| %>		    	
	 				<%= render 'points', point: f %>
	    	<%end%>
	    </ul>
		</div>

		<div class="span6">
      <div class='row-fluid'>
        <div class="span10 offset2">      
    		  <h1 class ='red'>Against</h1> 
    		  <div class= 'center'> 
    		  	<%= link_to "Add a new point against", new_debate_point_path(@debate, point_type: 'Against') %>
    		  </div>			  
         </div>
      </div>
	    <ul> 	
	    	<% @against_points.each do |a| %>
	    	  <%= render 'points', point: a %>
	    	<%end%>
	    </ul>	
		</div>
  </div>  	
</div>  
