<% provide(:title, @debate.title) %>
  
<div class ='debate-wrapper'> 
  <h2><%= @debate.title %></h2>
  <p><%= @debate.description %></p>
  <div class='pix12'>
    Asked by: <%= @debate.user.username %>
  </div>   
  <div class="pix14"><%= link_to "Edit question", edit_debate_path %></div>
</div>

 <%= render 'debates/verdicts/verdicts' %>

 

 
