- panel_type = type || 'info'
- collapse_id = "#{ collapse_id }_collapse_#{ index }"
- collapse_link = "##{ collapse_id }"
- parent_id = "##{ collapse_id }_accordion"

.panel{ class: "panel-#{panel_type}"}
  .panel-heading
    .row
      .col-md-1.votes{id: "vote_evidence_#{point.id}"}
        = render 'questions/evidence/important_point', point: point
      .col-md-11
        %h5.panel-title
          = link_to point.point, collapse_link, data: { parent: parent_id, toggle: 'collapse' }
        .pix12.evidence-links
          - research_text = t 'evidence.research_count', count: point.findings.count
          = link_to research_text, collapse_link, data: { parent: parent_id, toggle: 'collapse' }
          |
          = link_to 'Edit', edit_point_path(point)
          |
          = render 'questions/modal_toggle', point: point
  .panel-collapse.collapse{ class: point.id == @active_point ? 'in' : nil, id: collapse_id}
    .panel-body
      = render 'questions/evidence/points', point: point
