<li class ='research'>
  <div class='row'>
    <div class='col-md-3 center'> 
      <div class='pix12'>
        <b> Cred Score(<%=finding.research.score%>)</b>
        <br><%= is_it? finding.research.peer_reviewed %> Peer Reviewed</br>
        <%=finding.research.study_type %>
        
      </div>  
    </div>
    <div class='col-md-9'> 
      <%= link_to finding.research.title, research_path(finding.research_id), target: "_blank"%>
        <br />
      <div class ='pix12'> Authors: <%=finding.research.authors %> </div>
      <div class ='pix12'>      
        <% if finding.research.journal.present? %>
          Published in: <%= finding.research.journal %>
        <%else%>
          Published in: Unknown
        <%end%> 
      </div> 
      <p class = 'finding'>
        "<%= finding.quote %>"
      </p>
    </div>
  </div>    
</li>
