<% if user_signed_in? %>
  <% if current_user.voted_up_on? point%>
    <%= link_to unvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-up active", remote: true do%>  
    <%end%> 
    <span class= <%= if point.cached_votes_up-point.cached_votes_down < 0 then "negative" else "positive" end%>>
      <%=point.cached_votes_up - point.cached_votes_down%>
    </span>
    <%= link_to downvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
    <%end%>
  <% elsif current_user.voted_down_on? point%>
    <%= link_to upvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
    <%end%> 
    <span class= <%= if point.cached_votes_up-point.cached_votes_down < 0 then "negative" else "positive" end%>>
      <%=point.cached_votes_up - point.cached_votes_down%>
    </span>
    <%= link_to unvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-down active", remote: true do%> 
    <%end%>     
  <%else%>
    <%= link_to upvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
    <%end%> 
    <span class= <%= if point.cached_votes_up-point.cached_votes_down < 0 then "negative" else "positive" end%>>
      <%=point.cached_votes_up - point.cached_votes_down%>
    </span>
    <%= link_to downvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
    <%end%>    
  <%end%> 
<%else%>
  <%= link_to upvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-up", remote: true do%>  
  <%end%> 
  <span class= <%= if point.cached_votes_up-point.cached_votes_down < 0 then "negative" else "positive" end%>>
    <%=point.cached_votes_up - point.cached_votes_down%>
  </span>
  <%= link_to downvote_point_path(point), method: :put , class: "glyphicon glyphicon-circle-arrow-down", remote: true do%> 
  <%end%>    
<%end%> 

