<% if user_signed_in? %>
  <% if current_user.voted_up_on? point %>
    <%= button_to(unvote_point_path(point), method: :put , class: "btn btn-gold btn-xs active", style: "margin-bottom:3px") do%> 
      <%=point.cached_votes_up%>
      <span class="glyphicon glyphicon-thumbs-up" ></span>  
    <%end%> 
    <%= button_to(downvote_point_path(point), method: :put , class: "btn btn-default btn-xs") do%> 
      <%=point.cached_votes_down%>
      <span class="glyphicon glyphicon-thumbs-down" ></span>  
    <%end%>   
  <% elsif current_user.voted_down_on? point%>
    <%= button_to(upvote_point_path(point), method: :put , class: "btn btn-gold btn-xs", style: "margin-bottom:3px") do%> 
      <%=point.cached_votes_up%>
      <span class="glyphicon glyphicon-thumbs-up" ></span>  
    <%end%> 
    <%= button_to(unvote_point_path(point), method: :put , class: "btn btn-default btn-xs active") do%> 
      <%=point.cached_votes_down%>
      <span class="glyphicon glyphicon-thumbs-down" ></span>  
    <%end%>      
  <%else%>
    <%= button_to(upvote_point_path(point), method: :put , class: "btn btn-gold btn-xs", style: "margin-bottom:3px") do%> 
      <%=point.cached_votes_up%>
      <span class="glyphicon glyphicon-thumbs-up" ></span>  
    <%end%> 
    <%= button_to(downvote_point_path(point), method: :put , class: "btn btn-default btn-xs") do%> 
      <%=point.cached_votes_down%>
      <span class="glyphicon glyphicon-thumbs-down" ></span>  
    <%end%>     
  <%end%> 
<%else%>
    <%= button_to(upvote_point_path(point), method: :put , class: "btn btn-gold btn-xs", style: "margin-bottom:3px") do%> 
      <%=point.cached_votes_up%>
      <span class="glyphicon glyphicon-thumbs-up" ></span>  
    <%end%> 
    <%= button_to(downvote_point_path(point), method: :put , class: "btn btn-default btn-xs") do%> 
      <%=point.cached_votes_down%>
      <span class="glyphicon glyphicon-thumbs-down" ></span>  
    <%end%>  
<%end%> 

