<td>
  <%= research.title%>
    <br />
  <div class ='pix12'> Authors: <%=research.authors %> </div>  
</td>

<td>
  "<%= research.findings.first.quote %>"
</td>  

<td>
  <%=research.score%>
</td> 

<td>
  <%if research.peer_reviewed %>
    Yes
  <%else%>
    No
  <%end%>  
</td>   

<td>
  <% if research.journal.present? %>
    <%= research.journal %>
  <%else%>
    Unknown
  <%end%>
</td>

<td>
  <%=research.study_type %>   
 </td>   