<div class = 'evidence-wrapper'>

  <h1>Evidence</h1>
  <%if @evidence.first.nil?%>
    No evidence yet. <%= link_to "Add an argument and evidence", new_question_point_path(@question) %>
  <%else%>
    <%= link_to "Add argument", new_question_point_path(@question) %> | 
    <%= link_to "Download CSV", question_path(format: "csv") %>    
    <%if @question.question_type == "Yes/No"%>
      <div class="panel-group" id="yes_accordion">
        <%@yes_evidence.each_with_index do |point,index|%>
          <div class = "row">
            <div class = "col-md-1">
              <%= render 'questions/evidence/important_point', point: point %> 
            </div>

            <div class = "col-md-11" style = "margin-left: -10px">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#yes_accordion" href="#yes_collapse_<%=index%>">
                      <div class = 'point'>
                        <b class ="blue"><%=point.point_type%></b>, <%=point.point%>
                      </div>
                    </a>
                  </h5>
                  <div class = 'pix12'>
                      <a data-toggle="collapse" data-parent="#yes_accordion" href="#yes_collapse_<%=index%>">Total research(<%=point.findings.count%>)</a> |  
                    <%= link_to "Edit", edit_point_path(point) %> |
                    <%= render 'questions/modal_toggle', point: point %> 
                  </div> 
                </div> 
                <div id="yes_collapse_<%=index%>" class="panel-collapse collapse">
                  <div class="panel-body">        
                    <%= render 'questions/evidence/points', point: point %> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div> 

      <div class="panel-group" id="no_accordion">
        <%@no_evidence.each_with_index do |point,index|%>
          <div class = "row">
            <div class = "col-md-1">
              <%= render 'questions/evidence/important_point', point: point %> 
            </div>
            <div class = "col-md-11" style = "margin-left: -1%">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#no_accordion" href="#no_collapse_<%=index%>">
                      <div class = 'point'>
                        <b><%=point.point_type%></b>, <%=point.point%>
                      </div>
                    </a>
                  </h5>
                  <div class = 'pix12'>
                    <a data-toggle="collapse" data-parent="#no_accordion" href="#no_collapse_<%=index%>">Total research(<%=point.findings.count%>)</a> | 
                    <%= link_to "Edit", edit_point_path(point) %> |
                    <%= render 'questions/modal_toggle', point: point %> 
                  </div> 
                </div> 
                <div id="no_collapse_<%=index%>" class="panel-collapse collapse">
                  <div class="panel-body">        
                    <%= render 'questions/evidence/points', point: point %> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div> 

      <div class="panel-group" id="unknown_accordion">
        <%@unknown_evidence.each_with_index do |point,index|%>
          <div class= "row">
            <div class = "col-md-1">
              <%= render 'questions/evidence/important_point', point: point %> 
            </div>
            <div class = "col-md-11" style = "margin-left: -1%">

              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#unknown_accordion" href="#unknown_collapse_<%=index%>">
                      <div class = 'point'>
                        <b class='gold'><%=point.point_type%></b>, <%=point.point%>
                      </div>
                    </a>
                  </h5>
                  <div class = 'pix12'>
                    <a data-toggle="collapse" data-parent="#unknown_accordion" href="#unknown_collapse_<%=index%>">Total research(<%=point.findings.count%>)</a> | 
                    <%= link_to "Edit", edit_point_path(point) %> |
                    <%= render 'questions/modal_toggle', point: point %> 
                  </div> 
                </div> 
                <div id="unknown_collapse_<%=index%>" class="panel-collapse collapse">
                  <div class="panel-body">        
                    <%= render 'questions/evidence/points', point: point %> 
                  </div>
                </div>
              </div>
            </div>  
          </div>
        <%end%>
      </div>
    <%elsif @question.question_type == "Multiple Answers"%>      

      <div class="panel-group" id="unknown_accordion">
        <%@evidence.each_with_index do |point,index|%>
          <div class= "row">
            <div class = "col-md-1">
              <%= render 'questions/evidence/important_point', point: point %> 
            </div>
            <div class = "col-md-11" style = "margin-left: -1%">

              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#unknown_accordion" href="#unknown_collapse_<%=index%>">
                      <div class = 'point'>
                        <b class='gold'><%=point.point_type%></b>, <%=point.point%>
                      </div>
                    </a>
                  </h5>
                  <div class = 'pix12'>
                    <a data-toggle="collapse" data-parent="#unknown_accordion" href="#unknown_collapse_<%=index%>">Total research(<%=point.findings.count%>)</a> | 
                    <%= link_to "Edit", edit_point_path(point) %> |
                    <%= render 'questions/modal_toggle', point: point %> 
                  </div> 
                </div> 
                <div id="unknown_collapse_<%=index%>" class="panel-collapse collapse">
                  <div class="panel-body">        
                    <%= render 'questions/evidence/points', point: point %> 
                  </div>
                </div>
              </div>
            </div>  
          </div>
        <%end%>
      </div> 
    <%end%>      

  <%end%>
</div>


