.evidence-wrapper
  - unless @evidence.first.nil?
    - if @question.question_type == 'Yes/No'
      -# TODO: Remove Type from evidence_panel partial

      - if @evidence.size > 0
        %table.table
          %thead
            %tr
              %th
                Research
                = link_to new_question_point_path @question do
                  = render 'questions/modal_toggle'
              %th
                Summary    
              %th
                Credo Score
              %th
                Peer Reviewed
              %th
                Published in  
              %th
                Study Type      
          %tbody      
            - @evidence.each do |research|
              %tr
                = render 'questions/evidence/researches', research: research

    - elsif @question.question_type == 'Multiple Answers'
      #unknown_accordion.panel-group
        - @evidence.each_with_index do |point,index|
          = render 'questions/evidence/evidence_panels', type: '', collapse_id: 'unknown', index: index, point: point

  - if @evidence.first.nil?
    No evidence yet.
    = link_to 'Add an argument and evidence', new_question_point_path(@question)
