.evidence-wrapper
  - unless @evidence.first.nil?
    %h3
      = t 'evidence.heading'
      = link_to new_question_point_path @question do
        = image_tag 'icon-plus.png', class: 'icon icon-small', data: { placement: 'right', toggle: 'tooltip', title: 'Add an argument' }

    - if @question.question_type == 'Yes/No'
      -# TODO: Remove Type from evidence_panel partial

      - if @evidence.size > 0
        .argument-wrapper.yes
          #yes_accordion.panel-group
            %ul.index
              - @evidence.each do |research|
                = render 'questions/evidence/researches', research: research

    - elsif @question.question_type == 'Multiple Answers'
      #unknown_accordion.panel-group
        - @evidence.each_with_index do |point,index|
          = render 'questions/evidence/evidence_panels', type: '', collapse_id: 'unknown', index: index, point: point

  - if @evidence.first.nil?
    No evidence yet.
    = link_to 'Add an argument and evidence', new_question_point_path(@question)
