!!! 5
%head
  %title= full_title(yield(:title))
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  = meta_description(yield(:title))
  = render 'layouts/shim'

- bodyCls = yield :body_classes

%body{ class: bodyCls }
  %header
    = render 'layouts/navbar'
  .full-body-wrapper
    .container
      - flash.each do |key, value|
        .alert{ class: "alert-#{key}" }
          = raw(value)

      = yield

    :javascript
      $('[data-toggle="tooltip"]').tooltip();
